<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestión de Tareas </title>
    @Styles.Render("~/Content/css")

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>

    <!-- Menu -->
    <div class="Menu">
        <div class="item">
            <i class="fas fa-fw fa-bars"></i>
        </div>
        <div class="item active">
            <i class="fas fa-fw fa-map-marked-alt"></i> Map
        </div>
        <div class="item">
            <i class="fas fa-fw fa-columns"></i> Split
        </div>
        <div class="item">
            <i class="fas fa-fw fa-th"></i> Grid
        </div>
        <div class="item">
            <i class="fas fa-fw fa-user-circle"></i> Dash
        </div>
    </div>
    <!-- /Menu -->
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        @Html.ActionLink("Gestión de Tareas", "Index", "Tasks", new { area = "" }, new { @class = "navbar-brand" })
    </nav>
    <!-- /Navbar -->

    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Scripts")

    @RenderSection("scripts", required: false)
</body>
<!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
