@model TaskManager.Models.Tasks

@{
    ViewBag.Title = "_EditTasks";
}


<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <!-- Default form contact -->
        <form class="form-group">
            <div class="form-group col-lg-push-9">
                @Html.HiddenFor(model => model.Task_id)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Task_Title)
                @Html.EditorFor(model => model.Task_Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Task_description)
                @Html.EditorFor(model => model.Task_description, new { htmlAttributes = new { @class = "form-control rounded-0" } })
            </div>
            <div>
                <label>Prioridad</label>
                @Html.DropDownListFor(model => model.Priority_id, new SelectList(Model.Priorities, "Priority_id", "Priority_description", "Prioridad"), new { @class = "browser-default custom-select mb-4" })
            </div>
            <div>
                <label>Responsable</label>
                @Html.DropDownListFor(model => model.User_respon, new SelectList(Model.Responsible, "User_id", "Name", "Responsable"), new { @class = "browser-default custom-select mb-4" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Expiration_date)
                @Html.EditorFor(model => model.Expiration_date, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-warning">Editar</button>
            </div>
        </form>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

